<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="style.css">
  <!-- Vue source -->
  <script src="vue.js"></script>
</head>

<body>
  <div id="app">
    <div id="header">
      <h1>Tic-Tac-Toe</h1>
      <div id="modes">
        <button>PvP</button>
        <button>COM</button>
       </div>
    </div>
    <div id="game-container">
      <div id="table">
        <div id="sq1" class="squares" @click="move($event)">
           <img v-if="squares[0].val === 'tic'" src="imgs/Cross.svg">
           <img v-if="squares[0].val === 'tac'" src="imgs/Circle.svg">
        </div>
        <div id="sq2" class="squares" @click="move($event)">
           <img v-if="squares[1].val === 'tic'" src="imgs/Cross.svg">
           <img v-if="squares[1].val === 'tac'" src="imgs/Circle.svg">
        </div>
        <div id="sq3" class="squares" @click="move($event)">
           <img v-if="squares[2].val === 'tic'" src="imgs/Cross.svg">
           <img v-if="squares[2].val === 'tac'" src="imgs/Circle.svg">
        </div>
        <div id="sq4" class="squares" @click="move($event)">
           <img v-if="squares[3].val === 'tic'" src="imgs/Cross.svg">
           <img v-if="squares[3].val === 'tac'" src="imgs/Circle.svg">
        </div>
        <div id="sq5" class="squares" @click="move($event)">
           <img v-if="squares[4].val === 'tic'" src="imgs/Cross.svg">
           <img v-if="squares[4].val === 'tac'" src="imgs/Circle.svg">
        </div>
        <div id="sq6" class="squares" @click="move($event)">
           <img v-if="squares[5].val === 'tic'" src="imgs/Cross.svg">
           <img v-if="squares[5].val === 'tac'" src="imgs/Circle.svg">
        </div>
         <div id="sq7" class="squares" @click="move($event)">
           <img v-if="squares[6].val === 'tic'" src="imgs/Cross.svg">
           <img v-if="squares[6].val === 'tac'" src="imgs/Circle.svg">
        </div>
        <div id="sq8" class="squares" @click="move($event)">
           <img v-if="squares[7].val === 'tic'" src="imgs/Cross.svg">
           <img v-if="squares[7].val === 'tac'" src="imgs/Circle.svg">
        </div>
        <div id="sq9" class="squares" @click="move($event)">
           <img v-if="squares[8].val === 'tic'" src="imgs/Cross.svg">
           <img v-if="squares[8].val === 'tac'" src="imgs/Circle.svg">
        </div>     
      </div>
      <div id="ggTop" class="horiPoles" v-if="ggTop"></div>
      <div id="ggLeft" class="vertPoles" v-if="ggLeft"></div>
      <div id="ggRight" class="vertPoles" v-if="ggRight"></div>
      <div id="ggBottom" class="horiPoles" v-if="ggBottom"></div>
      <div id="ggVert" class="vertPoles" v-if="ggVert"></div>
      <div id="ggHori" class="horiPoles" v-if="ggHori"></div>
      <div id="ggDiright" v-if="ggDiright"></div>
      <div id="ggDileft" v-if="ggDileft"></div>
    </div>
    <div id="replay">
      <button id="replayBtn" @click="replay">Play Again</button>
    </div>
    <div id="myFooter">
       <div id="link"><a href="https://twitter.com/Cbazil3">&copy;Cbazil 2020 </a></div>
    </div>
  </div>
  <!-- Project -->
  <script src="main.js"></script>
</body>
</html>