<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="style.css">
  <!-- Vue source -->
  <script src="vue.js"></script>
</head>

<body>
  <div id="app">
    <div id="table">
      <div id="sq1" class="squares" @click="move($event)">
         <img v-if="sq1 === 1" src="imgs/Cross.svg">
         <img v-if="sq1 === 2" src="imgs/Circle.svg">
      </div>
      <div id="sq2" class="squares" @click="move($event)">
         <img v-if="sq2 === 1" src="imgs/Cross.svg">
         <img v-if="sq2 === 2" src="imgs/Circle.svg">
      </div>
      <div id="sq3" class="squares" @click="move($event)">
         <img v-if="sq3 === 1" src="imgs/Cross.svg">
         <img v-if="sq3 === 2" src="imgs/Circle.svg">
      </div>
      <div id="sq4" class="squares" @click="move($event)">
         <img v-if="sq4 === 1" src="imgs/Cross.svg">
         <img v-if="sq4 === 2" src="imgs/Circle.svg">
      </div>
      <div id="sq5" class="squares" @click="move($event)">
         <img v-if="sq5 === 1" src="imgs/Cross.svg">
         <img v-if="sq5 === 2" src="imgs/Circle.svg">
      </div>
      <div id="sq6" class="squares" @click="move($event)">
         <img v-if="sq6 === 1" src="imgs/Cross.svg">
         <img v-if="sq6 === 2" src="imgs/Circle.svg">
      </div>
       <div id="sq7" class="squares" @click="move($event)">
         <img v-if="sq7 === 1" src="imgs/Cross.svg">
         <img v-if="sq7 === 2" src="imgs/Circle.svg">
      </div>
      <div id="sq8" class="squares" @click="move($event)">
         <img v-if="sq8 === 1" src="imgs/Cross.svg">
         <img v-if="sq8 === 2" src="imgs/Circle.svg">
      </div>
      <div id="sq9" class="squares" @click="move($event)">
         <img v-if="sq9 === 1" src="imgs/Cross.svg">
         <img v-if="sq9 === 2" src="imgs/Circle.svg">
      </div>     
    </div>
  </div>
  <!-- Project -->
  <script src="main.js"></script>
</body>
</html>