body {
    font-size: 15pt;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: skyblue;
}
@media (max-width: 360px){
  #app {
    width: inherit;
    height: inherit;
    display: block;
  }
}
#header {
  margin-top: -20px;
  position: relative;
  text-align: center;
  color: #fff;
  font-family: "Times New Roman", Times, serif !important;
}
#modes {
  display: flex;
  justify-content: space-around;
}
#modes > button {
  margin-right: 15px;
  border: 2px solid #2b2d2f;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #2b2d2f;
  font-size: 21px;
  color: #eee;
}
#game-container {
  position: absolute;
  top: 28%;
  width: 75%;
  height: 42.8%;
  /* background-color: grey;*/
  left: 10%;
  border-radius: 4%;
}
#table{
  width: 100%;
  height: 100%; 
  background-color: white;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3%;
}
.squares {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  background-color: skyblue;
  /* background: yellowgreen; */
  margin: 0;
  padding: 15%;
}
.squares > img {
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
}
#myFooter {
  position: absolute;
  display: block;
  width: 100%;
  margin-left: -8px;
  height: 3%;
  background: #fff;
  color: #000;
  bottom: 1%;
  text-align: center;
  font-size: 15px;
}
#link {
  display: inline-block;
  /* align-content: center; */
  margin-top: 2px;
}
#link > a {
  text-decoration: none;
  color: #2b2d2f;
}
#replay {
  display: flex;
  justify-content: center;
  margin-left: -15px; 
}
#replayBtn {
  position: absolute;
  height: 70px;
  width: 70px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #2b2d2f;
  border-radius: 50%;
  background: #2b2d2f;
  font-size: 21px;
  color: #eee;
  top: 74%;
}
h1 {
  font-size: 60px;
}
#ggTop {
  top: 15%;
}
#ggLeft {
  left: 15%;
}
#ggRight {
  right: 15%;
}
#ggBottom {
  bottom: 15%;
}
#ggVert {
  left: 48%;
}
#ggHori {
  top: 48%;
}
#ggDiright {
  position: absolute;
  width: 125%;
  height: 10px;
  top: 48%;
  left: -34px;
  background-color: #fff;
  border-radius: 15%;
  transform: rotate(45deg);
}
 #ggDileft {
  position: absolute;
  width: 125%;
  height: 10px;
  top: 48%;
  right: -34px;
  background-color: #fff;
  border-radius: 15%;
  transform: rotate(-45deg);
} 
.horiPoles {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #fff;
  border-radius: 15%;
}
.vertPoles {
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  background-color: #fff;
  border-radius: 15%;
}